<!DOCTYPE html>
<html lang="zh">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="format-detection" content="telephone=no">
    <title>news</title>
    <link rel="stylesheet" type="text/css" href="./css/news.css">
</head>

<body>
    <header>
        <div class="news-nav">
            <div class="news-toolbar-l">
                <a href="#" class="toolbar-btn btn-baidu"></a>
                <a href="#" class="toolbar-btn btn-userhome"></a>
            </div>
            <div class="news-toolbar-r">
                <a href="#" class="toolbar-btn btn-search"></a>
                <a href="#" class="toolbar-btn btn-subscribe"></a>
            </div>
        </div>
        <div class="news-navigator">
            <div class="content">
                <div class="divider"></div>
                <ul class="navigator-tool">
                    <li><span class="cur">推荐</span></li>
                    <li><span>百家</span></li>
                    <li><span>本地</span></li>
                    <li><span>娱乐</span></li>
                </ul>
            </div>
        </div>
    </header>
    <article>
        <div class="news-container">
            <div class="news-main">
                <!-- <a href="">
                    <img src="" class="newsimg">
                </a>
                <div class="content">
                    <p class="newstitle"></p>
                    <p class="newscontent"></p>
                    <p class="addtime"></p>
                </div> -->
            </div>
        </div>
        <div class="ui-refresh-wrapper">
            <div class="ui-refresh">点击加载更多</div>
        </div>
    </article>
    <script type="text/javascript" src="./js/bass/jquery-2.2.3.min.js"></script>
    <script type="text/javascript" src="./js/ajax.js"></script>
</body>

</html>
